<h2><%= t('users.hi', email: current_user.email)%> </h2>

<p> <%= t('users.address', address: current_user.address) %> </p>

<p>
  <%= link_to t('users.assign_new_address'), assign_address_users_path, method: :post %>
</p>

<p>
  <%= link_to t('signout'), destroy_user_session_path, method: :delete %>
</p>