<% unless flash.empty? %>
  <p>
    <% if flash[:notice] %>
      <b><%= flash[:notice] %></b>
    <% elsif flash[:error] %>
      <b><%= flash[:error] %></b>
    <% end %>
    <% flash.discard %>
  </p>
<% end %>
